# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [2]:
chipo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep='\t', header=0)

### Step 4. See the first 10 entries

In [3]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [5]:
# Solution 1
len(chipo)

4622

In [6]:
# Solution 2
chipo.shape[0]

4622

### Step 6. What is the number of columns in the dataset?

In [7]:
len(chipo.columns)

5

### Step 7. Print the name of all the columns.

In [17]:
for col in chipo.columns:
    print(col, end = '\t')

[col.upper() for col in chipo.columns]

order_id	quantity	item_name	choice_description	item_price

['ORDER_ID', 'QUANTITY', 'ITEM_NAME', 'CHOICE_DESCRIPTION', 'ITEM_PRICE']

In [12]:
list(chipo.columns)

['order_id', 'quantity', 'item_name', 'choice_description', 'item_price']

### Step 8. How is the dataset indexed?

In [18]:
print(chipo.index)

chipo.index.dtype

RangeIndex(start=0, stop=4622, step=1)

dtype('int64')

### Step 9. Which was the most-ordered item?

In [24]:
chipo[ ["item_name", "quantity", "item_price"] ]

                                  item_name  quantity item_price
0              Chips and Fresh Tomato Salsa         1     $2.39
1                                      Izze         1     $3.39
2                          Nantucket Nectar         1     $3.39
3     Chips and Tomatillo-Green Chili Salsa         1     $2.39
4                              Chicken Bowl         2    $16.98
...                                     ...       ...        ...
4617                          Steak Burrito         1    $11.75
4618                          Steak Burrito         1    $11.75
4619                     Chicken Salad Bowl         1    $11.25
4620                     Chicken Salad Bowl         1     $8.75
4621                     Chicken Salad Bowl         1     $8.75

[4622 rows x 3 columns]

In [25]:
chipo[ ["item_name", "quantity", "item_price"] ].groupby("item_name")

In [26]:
chipo[ ["item_name", "quantity", "item_price"] ].groupby("item_name").sum("quantity")

                                       quantity
item_name
6 Pack Soft Drink                            55
Barbacoa Bowl                                66
Barbacoa Burrito                             91
Barbacoa Crispy Tacos                        12
Barbacoa Salad Bowl                          10
Barbacoa Soft Tacos                          25
Bottled Water                               211
Bowl                                          4
Burrito                                       6
Canned Soda                                 126
Canned Soft Drink                           351
Carnitas Bowl                                71
Carnitas Burrito                             60
Carnitas Crispy Tacos                         8
Carnitas Salad                                1
Carnitas Salad Bowl                           6
Carnitas Soft Tacos                          40
Chicken Bowl                                761
Chicken Burrito                             591
Chicken Crispy Tacos                         50
Chicken Salad                                 9
Chicken Salad Bowl                          123
Chicken Soft Tacos                          120
Chips                                       230
Chips and Fresh Tomato Salsa                130
Chips and Guacamole                         506
Chips and Mild Fresh Tomato Salsa             1
Chips and Roasted Chili Corn Salsa           23
Chips and Roasted Chili-Corn Salsa           18
Chips and Tomatillo Green Chili Salsa        45
Chips and Tomatillo Red Chili Salsa          50
Chips and Tomatillo-Green Chili Salsa        33
Chips and Tomatillo-Red Chili Salsa          25
Crispy Tacos                                  2
Izze                                         20
Nantucket Nectar                             29
Salad                                         2
Side of Chips                               110
Steak Bowl                                  221
Steak Burrito                               386
Steak Crispy Tacos                           36
Steak Salad                                   4
Steak Salad Bowl                             31
Steak Soft Tacos                             56
Veggie Bowl                                  87
Veggie Burrito                               97
Veggie Crispy Tacos                           1
Veggie Salad                                  6
Veggie Salad Bowl                            18
Veggie Soft Tacos                             8

In [28]:
chipo[ ["item_name", "quantity", "item_price"] ].groupby("item_name").sum("quantity").sort_values('quantity', ascending=False)

                                       quantity
item_name
Carnitas Salad                                1
Veggie Crispy Tacos                           1
Chips and Mild Fresh Tomato Salsa             1
Crispy Tacos                                  2
Salad                                         2
Bowl                                          4
Steak Salad                                   4
Veggie Salad                                  6
Carnitas Salad Bowl                           6
Burrito                                       6
Carnitas Crispy Tacos                         8
Veggie Soft Tacos                             8
Chicken Salad                                 9
Barbacoa Salad Bowl                          10
Barbacoa Crispy Tacos                        12
Veggie Salad Bowl                            18
Chips and Roasted Chili-Corn Salsa           18
Izze                                         20
Chips and Roasted Chili Corn Salsa           23
Barbacoa Soft Tacos                          25
Chips and Tomatillo-Red Chili Salsa          25
Nantucket Nectar                             29
Steak Salad Bowl                             31
Chips and Tomatillo-Green Chili Salsa        33
Steak Crispy Tacos                           36
Carnitas Soft Tacos                          40
Chips and Tomatillo Green Chili Salsa        45
Chicken Crispy Tacos                         50
Chips and Tomatillo Red Chili Salsa          50
6 Pack Soft Drink                            55
Steak Soft Tacos                             56
Carnitas Burrito                             60
Barbacoa Bowl                                66
Carnitas Bowl                                71
Veggie Bowl                                  87
Barbacoa Burrito                             91
Veggie Burrito                               97
Side of Chips                               110
Chicken Soft Tacos                          120
Chicken Salad Bowl                          123
Canned Soda                                 126
Chips and Fresh Tomato Salsa                130
Bottled Water                               211
Steak Bowl                                  221
Chips                                       230
Canned Soft Drink                           351
Steak Burrito                               386
Chips and Guacamole                         506
Chicken Burrito                             591
Chicken Bowl                                761

In [23]:
# max(chipo["quantity"])
# print(chipo.loc[chipo['quantity'].idxmax()])

# chipo.loc[max(chipo.groupby("item_name").idxmax()["quantity"])]["item_name"]

# chipo.groupby("item_name")
# chipo.groupby(by="item_name").sum().sort_values('quantity',ascending=False)#.head(1)

# chipo['item_name'].value_counts()

chipo[ ["item_name", "quantity", "item_price"] ].groupby("item_name").agg(["sum"]).sort_values(('quantity', 'sum'), ascending=False) #.reset_index().head(1)['item_name']

,quantity,item_price
,sum,sum
item_name,,
Chicken Bowl,761,$16.98 $10.98 $11.25 $8.75 $8.49 $11.25 $8.75 ...
Chicken Burrito,591,$8.49 $8.49 $10.98 $8.49 $10.98 $10.98 $8.75 $...
Chips and Guacamole,506,$4.45 $4.45 $4.45 $4.45 $4.45 $3.99 $4.45 $3.9...
Steak Burrito,386,$11.75 $9.25 $8.99 $11.75 $8.99 $8.99 $8.99 $8...
Canned Soft Drink,351,$1.25 $1.25 $1.25 $1.25 $1.25 $1.25 $1.25 $1.2...
Chips,230,$2.15 $2.15 $2.15 $2.15 $2.15 $2.15 $4.30 $2.1...
Steak Bowl,221,$8.99 $8.99 $11.75 $11.75 $8.99 $11.48 $9.25 $...
Bottled Water,211,$1.09 $1.09 $1.09 $1.50 $1.50 $1.50 $3.00 $1.5...
Chips and Fresh Tomato Salsa,130,$2.39 $2.39 $2.39 $2.95 $2.95 $2.95 $2.95 $2.3...
Canned Soda,126,$2.18 $1.09 $2.18 $1.09 $1.09 $1.09 $1.09 $2.1...
Chicken Salad Bowl,123,$8.75 $22.50 $22.50 $8.75 $17.50 $8.75 $8.75 $...
Chicken Soft Tacos,120,$8.75 $8.75 $8.75 $8.75 $11.25 $8.49 $8.49 $8....
Side of Chips,110,$1.69 $1.69 $1.69 $1.69 $1.69 $1.69 $1.69 $1.6...
Veggie Burrito,97,$11.25 $8.49 $11.25 $11.25 $10.98 $8.49 $8.49 ...
Barbacoa Burrito,91,$8.99 $9.25 $9.25 $11.75 $11.75 $9.25 $8.99 $1...
Veggie Bowl,87,$11.25 $8.49 $11.25 $11.25 $8.49 $11.25 $11.25...
Carnitas Bowl,71,$8.99 $11.75 $9.25 $11.48 $8.99 $8.99 $23.50 $...
Barbacoa Bowl,66,$11.75 $11.75 $9.25 $8.99 $9.25 $11.75 $9.25 $...
Carnitas Burrito,60,$8.99 $9.25 $11.75 $9.25 $9.25 $9.25 $11.75 $9...
Steak Soft Tacos,56,$9.25 $9.25 $8.99 $9.25 $8.99 $8.99 $9.25 $9.2...
6 Pack Soft Drink,55,$6.49 $6.49 $6.49 $6.49 $6.49 $6.49 $6.49 $6.4...
Chips and Tomatillo Red Chili Salsa,50,$2.95 $2.95 $2.95 $2.95 $2.95 $2.95 $2.95 $2.9...
Chicken Crispy Tacos,50,$8.75 $17.50 $11.25 $8.49 $8.49 $11.25 $8.75 $...
Chips and Tomatillo Green Chili Salsa,45,$2.95 $2.95 $5.90 $2.95 $2.95 $2.95 $2.95 $2.9...
Carnitas Soft Tacos,40,$9.25 $9.25 $9.25 $9.25 $9.25 $8.99 $8.99 $8.9...
Steak Crispy Tacos,36,$9.25 $8.99 $9.25 $8.69 $8.99 $9.25 $8.99 $9.2...
Chips and Tomatillo-Green Chili Salsa,33,$2.39 $2.39 $2.39 $2.39 $2.39 $2.39 $2.39 $2.3...
Steak Salad Bowl,31,$23.78 $11.89 $9.39 $23.78 $11.89 $11.89 $11.8...
Nantucket Nectar,29,$3.39 $3.39 $3.39 $3.39 $3.39 $3.39 $6.78 $3.3...
Chips and Tomatillo-Red Chili Salsa,25,$2.39 $2.39 $2.39 $2.39 $2.39 $2.39 $2.39 $2.3...
Barbacoa Soft Tacos,25,$9.25 $9.25 $8.99 $9.25 $9.25 $11.75 $11.75 $9...
Chips and Roasted Chili Corn Salsa,23,$2.95 $2.95 $2.95 $2.95 $2.95 $2.95 $2.95 $2.9...
Izze,20,$3.39 $3.39 $3.39 $3.39 $3.39 $3.39 $3.39 $3.3...
Veggie Salad Bowl,18,$11.25 $11.25 $11.25 $11.25 $8.75 $8.75 $11.25...
Chips and Roasted Chili-Corn Salsa,18,$2.39 $2.39 $2.39 $2.39 $2.39 $2.39 $2.39 $2.3...
Barbacoa Crispy Tacos,12,$11.75 $9.25 $11.48 $11.75 $9.25 $9.25 $8.99 $...
Barbacoa Salad Bowl,10,$11.89 $11.89 $9.39 $9.39 $9.39 $11.89 $11.89 ...
Chicken Salad,9,$10.98 $10.98 $8.49 $8.49 $8.49 $8.49 $8.49 $8...
Carnitas Crispy Tacos,8,$9.25 $11.75 $8.99 $11.75 $8.99 $17.98 $9.25
Veggie Soft Tacos,8,$11.25 $8.75 $8.49 $11.25 $8.75 $8.49 $16.98
Burrito,6,$7.40 $7.40 $7.40 $7.40 $7.40 $7.40
Veggie Salad,6,$8.49 $8.49 $8.49 $8.49 $8.49 $8.49
Carnitas Salad Bowl,6,$11.89 $9.39 $11.89 $9.39 $11.89 $11.89
Bowl,4,$22.20 $7.40
Steak Salad,4,$8.99 $8.99 $8.99 $8.69
Salad,2,$7.40 $7.40
Crispy Tacos,2,$7.40 $7.40
Chips and Mild Fresh Tomato Salsa,1,$3.00
Carnitas Salad,1,$8.99
Veggie Crispy Tacos,1,$8.49

### Step 10. For the most-ordered item, how many items were ordered?

In [20]:
chipo[["item_name", "quantity", "item_price"]].groupby("item_name").agg(["sum"]).sort_values(('quantity', 'sum'), ascending=False).reset_index().head(1)['quantity']

   sum
0  761

### Step 11. What was the most ordered item in the choice_description column?

In [86]:
chipo.groupby(by="choice_description").sum().sort_values('quantity',ascending=False).head(1).reset_index()

  choice_description  order_id  quantity  item_price
0        [Diet Coke]    123455       159      326.71

### Step 12. How many items were orderd in total?

In [12]:
sum(chipo["quantity"])

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [13]:
chipo.dtypes['item_price'] # dtype 'O' for object

dtype('O')

#### Step 13.b. Create a lambda function and change the type of item price

In [14]:
# chipo['item_price'] = chipo['item_price'].astype('float64') # ValueError: could not convert string to float: '$2.39 '
chipo['item_price'] = chipo['item_price'].apply(lambda x: float(x.replace("$", " ")))

#### Step 13.c. Check the item price type

In [16]:
chipo.dtypes['item_price'] # now is float64

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [96]:
total = (chipo["quantity"] * chipo["item_price"]).sum()

print(total)

39237.02

### Step 15. How many orders were made in the period?

In [97]:
nbOrders = chipo['order_id'].nunique()

nbOrders

1834

### Step 16. What is the average revenue amount per order?

In [98]:
# Solution 1

print(total / nbOrders)

21.39423118865867

In [103]:
# Solution 2

(chipo['quantity'] * chipo['item_price']).mean()

8.489186499350943

### Step 17. How many different items are sold?