In [1]:
import pandas as pd

In [11]:
df = pd.read_csv('50_Startups.csv', delimiter=';')

In [15]:
df.sample(10)

          R&D  Administration  Marketing      villes     Profit
4   142107.34        91391.77  366168.42        Lyon  166187.94
18   91749.16       114175.79  294919.57        Lyon  124266.90
16   78013.11       121597.55  264346.06  Strasbourg  126992.93
14  119943.24       156547.42  256512.92        Lyon  132602.65
30   61994.48       115641.28   91131.24        Lyon   99937.59
8   120542.52       148718.95  311613.29       Paris  152211.77
15  114523.61       122616.84  261776.23       Paris  129917.04
25   64664.71       139553.16  137962.62  Strasbourg  107404.34
33   55493.95       103057.49  214634.81        Lyon   96778.92
6   134615.46       147198.87  127716.82  Strasbourg  156122.51

In [16]:
df.shape

(50, 5)